{% extends "base.html" %}

{% block title %}Recovery | Workout{% endblock %}
{% block navright %}<li><a href="{{ url_for('register') }}">Sign Up</a></li>{% endblock %}

{% block content %}
<img id="wwimg" src="{{ url_for('static', filename='images/wimg.png') }}" alt="image">
<section id="contactus">
   <h2 class="center heading h"></h2>

<div class="cform">
  <form>
        <div class="center" style="padding: 10px;"><h2>Find Your Account
        </h2></div>
    <div class="mb">
        <!-- <label for="inputMessage" class="labelf">Username</label> -->
        <input type="text" class="inputf" id="" placeholder="Enter Email address or Username" required>
    </div>
    <div class="forgetbtn">
      <a href="{{ url_for('login') }}" style="text-decoration: none;" class="btn-center tfbtn name-fields frbtn">Cancel</a>

    <button type="search" class="btn-center fbtn name-fields frbtn" value="search">Search</button>
    </div>
  </form>

</div>
 </section>
 
<style>
    body{
      overflow-y: hidden; /* Hide vertical scrollbar */
      overflow-x: hidden; /* Hide horizontal scrollbar */
      scrollbar-width: none; /* Firefox */
      -ms-overflow-style: none;
    }
  </style>


    {% endblock %}
