{% extends "base.html" %}

{% block title %}Gallery | Workout{% endblock %}
{% block navright %}<li><a href="{{ url_for('register') }}">Sign Up</a></li>{% endblock %}

{% block content %}
<section id="album">
<h2 class="heading h center">Image Gallery</h2>
<div class="gallery">
  <img src="{{ url_for('static', filename='images/1.jpeg') }}" alt="Img">
  <img src="{{ url_for('static', filename='images/2.jpeg') }}" alt="Img">
  <img src="{{ url_for('static', filename='images/3.jpeg') }}" alt="Img">
  <img src="{{ url_for('static', filename='images/4.jpeg') }}" alt="Img">
  <img src="{{ url_for('static', filename='images/5.jpeg') }}" alt="Img">
  <img src="{{ url_for('static', filename='images/6.jpeg') }}" alt="Img">
</div>
</section>
    {% endblock %}
