{% extends "base.html" %}
{% block title %}Sign Up | Workout{% endblock %}
{% block navright %}<li><a href="{{ url_for('login') }}">Sign In</a></li>{% endblock %}
{% block content %}
<img id="wwimg" src="{{ url_for('static', filename='images/wimg.png') }}" alt="image">
<section id="contactus">
   <h2 class="center heading h"></h2>
<div class="cform">
  <form>
    <div class="center" style="padding: 10px;"><h2>Sign Up</h2></div>
    <div class="mb">
        <input type="text" class="inputf" id="" placeholder="Enter Email address" required>
    </div>
    <div class="mb name-fields">
      <input type="text" class="inputf" id="" placeholder="First Name" required>
      <input type="text" class="inputf" id="" placeholder="Last Name" required>
  </div>
    <div class="mb">
        <input type="text" class="inputf" id="" placeholder="Enter Username" required>
    </div>
    <div class="mb">
      <input type="password" class="inputf" id="" placeholder="Enter Password" required>
    </div>
    <button type="submit" class="btn-center fbtn" value="login">Sign Up</button>
    <div class="ftxt center"><a href="{{ url_for('login') }}">already have an account?</a></div>
  </form>
</div>
 </section>
 <style>
  body{
    overflow-y: hidden; /* Hide vertical scrollbar */
    overflow-x: hidden; /* Hide horizontal scrollbar */
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;
  }
</style>

{% endblock %}
